.intro-img-container {
  /* clip-path: polygon(
    85.24% 100%,
    100% 41.82%,
    76.95% 19.77%,
    66.65% 0%,
    34.45% 0%,
    29.29% 29.29%,
    0% 60.77%,
    23.2% 100%
  ); */
  background: url("/images/hero-intro-pic.jpg") 0% 0% / cover;
}
.sectionOne-bg {
  background-image: url("/images/section-1-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
